@font-face {
    font-family: 'Italiana';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("~/assets/fonts/italiana/Italiana-Regular.woff2") format("woff2"),
         url("~/assets/fonts/italiana/Italiana-Regular.woff") format("woff");
  }
